.header{
    background-image: url(/src/images/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    backdrop-filter: blur(5px);
    margin-bottom: 20px;
}
.navbar{
    padding-top: 20px;
}
.main-title{
    font-weight: 600;
    font-size: 34px;
    color: #fff !important;
}
.middle-area, .right-area{
    font-size: 20px;
   
}
.middle-area #middle-link{
    color: #fff;
}
.middle-area #middle-link:hover{
    color: black;
}
.right-area{
    padding: 5px;
}
.right-area #right-link{
    color:#fff;
}
.right-area #right-link:hover{
    background-color: rgba(144, 206, 198, 0.479);
    border: 1px solid rgba(144, 206, 198, 0.479);
    border-radius: 5px;
}
.intro-area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 5px solid #fff;
}
.intro-area a{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fff;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 25px;
}
.intro-area a:hover{
     background-color: rgba(144, 206, 198, 0.479);
}

